:host {
  display: flex;
  height: 80px;
  width: 100%;
  top: 0;
  z-index: 100;
  // mix-blend-mode: difference;
  border-bottom-color: rgb(87, 86, 91);
  nav {
    display: flex;
    width: 100%;
    padding: 0 1em;
    line-height: 1;
    align-items: center;
    z-index: 15;

    img {
      height: 80px;
      cursor: pointer;
    }

    svg {
      margin-left: auto;
      cursor: pointer;
    }

    ul {
      display: flex;
      gap: 1em;
      height: fit-content;
      display: flex;
      align-items: center;
      margin-left: auto;
      padding: 0 1em;

      li {
        height: fit-content;
        cursor: pointer;

        a {
          color: white;
          font-family: Inter;
          font-size: 18px;
          font-weight: 600;
        }
      }
    }
  }
}
