<section>
  <content>
    <h1>Mindfulness</h1>
    <p>
      A atenção plena, também chamada de Mindfulness, é antes de tudo uma
      prática e um processo - não apenas um conceito abstrato. Seu
      desenvolvimento requer perseverança e dedicação, mas também uma dose de
      leveza e desprendimento.
    </p>

    <p class="quotation">Ato radical de confiança em si mesmo.</p>

    <p>
      O cientista Jon Kabat-Zinn integrou práticas budistas à medicina ocidental
      e desenvolveu técnicas a partir de estudos sobre dor crônica e ansiedade.
      Posteriormente, o psicólogo Mark Williams, em colaboração com outras
      pessoas pesquisadoras, ampliou esse trabalho ao relacionar a prática com a
      psicologia cognitivo-comportamental, reforçando sua eficácia em diferentes
      contextos clínicos e sociais.
    </p>

    <p>
      A atenção plena, ou Mindfulness, promove a regulação da atenção e das
      emoções, com foco no presente e abertura à experiência, sem julgamentos.
      Entre suas práticas estão o body scan, a respiração consciente, a
      meditação em movimento e a atenção plena nas atividades cotidianas.
    </p>

    <p class="quotation">
      “Just this moment, just this breath, just this sitting here, just this
      being human. Just this. Just this.”- Jon Kabat-Zinn
    </p>

    <!-- <h2>
      É praticável realizar a análise corporal reichiana em atendimentos remotos
      / online?
    </h2>

    <p>
      As intervenções biofísicas em uma análise reichiano atuam,
      primordialmente, sobre o sistema neurovegetativo. As funções deste sistema
      se manifestam diretamente no modo de ser do indivíduo — ou seja, em sua
      personalidade. O sistema neurovegetativo é responsável pelas respostas
      automáticas e involuntárias do organismo, com o objetivo principal de
      manter a homeostase corporal. Portanto, um dos métodos da análise corporal
      reichiana consiste em utilizar os movimentos espontâneos do cliente para
      acessar tensões neuromusculares que, por sua vez, são produzidas por
      bloqueios mais profundos na estrutura vegetativa.
    </p>

    <p>
      A análise corporal reichiana pode ser realizada em duas modalidades, de
      longa ou de curta duração. É especialmente indicada para pessoas que
      apresentam quadros como:
    </p>
    <ul class="list">
      <li class="centered-list-item">Tristeza Profunda e Persistente</li>
      <li class="centered-list-item">Medos Intensos e Incontroláveis</li>
      <li class="centered-list-item">Preocupação Excessiva e Constante</li>
      <li class="centered-list-item">Dificuldades nos Relacionamentos</li>
      <li class="centered-list-item">Lidar com Perdas</li>
      <li class="centered-list-item">Baixa Confiança em Si Mesmo</li>
      <li class="centered-list-item">
        Dificuldade em se Expressar e se Posicionar
      </li>
      <li class="centered-list-item">
        Comportamentos Repetitivos e Incontroláveis
      </li>
      <li class="centered-list-item">Marcas de Experiências Dolorosas</li>
      <li class="centered-list-item">
        Pensamentos Persistentes e Angustiantes
      </li>
    </ul> -->
  </content>

  <button
    mat-raised-button
    (click)="navigateTo(navigationService.Pages.SCHEDULING)"
  >
    <a>AGENDAR</a>
  </button>
</section>
