<section>
  <content>
    <h1>Mindfulness</h1>
    <p>
      A atenção plena, também chamada de Mindfulness, é antes de tudo uma
      prática e um processo - não apenas um conceito abstrato. Seu
      desenvolvimento requer perseverança e dedicação, mas também uma dose de
      leveza e desprendimento.
    </p>

    <p class="quotation">Ato radical de confiança em si mesmo.</p>

    <p>
      O cientista Jon Kabat-Zinn integrou práticas budistas à medicina ocidental
      e desenvolveu técnicas a partir de estudos sobre dor crônica e ansiedade.
      Posteriormente, o psicólogo Mark Williams, em colaboração com outras
      pessoas pesquisadoras, ampliou esse trabalho ao relacionar a prática com a
      psicologia cognitivo-comportamental, reforçando sua eficácia em diferentes
      contextos clínicos e sociais.
    </p>

    <p>
      A atenção plena, ou Mindfulness, promove a regulação da atenção e das
      emoções, com foco no presente e abertura à experiência, sem julgamentos.
      Entre suas práticas estão o body scan, a respiração consciente, a
      meditação em movimento e a atenção plena nas atividades cotidianas.
    </p>

    <p class="quotation">
      “Just this moment, just this breath, just this sitting here, just this
      being human. Just this. Just this.”- Jon Kabat-Zinn
    </p>
  </content>

  <button
    mat-raised-button
    (click)="navigateTo(navigationService.Pages.SCHEDULING)"
  >
    <a>AGENDAR</a>
  </button>
</section>
