// @use "../../../../assets/styles/palette.scss" as palette;
// :host {
//   padding: 7em;
// }

// .persons {
//   display: flex;
//   flex-direction: column;
//   gap: 1em;

//   a {
//     font-size: 24px;
//   }
// }

@use "../../../../assets/styles/palette.scss" as palette;
@use "../src/assets/styles/breakpoints.scss" as breakpoint;
@use "../src/assets/styles/variables.scss" as variables;

:host {
  //   padding-top: 80px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding: 1.5em;
  gap: 1em;
  // margin: 2em 0;

  section {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1140px;
    gap: 1.5em;

    content {
      text-align: center;
      gap: 1.5em;
    }

    .lists {
      display: flex;
      flex-direction: column;
      max-width: variables.$main-column-max-width;
      gap: 3em;
      h2 {
        margin-bottom: 1em;
      }
      ul {
        display: flex;
        flex-direction: column;
        margin: 0 !important;
        gap: 1em;
      }
    }
    @media (min-width: breakpoint.$breakpoint-md) {
    }
  }

  h2 {
    font-family: Inter;
    font-weight: 200;
    font-size: 18px;
    letter-spacing: 1.1px;
    font-style: italic;
  }

  @media (min-width: breakpoint.$breakpoint-sm) {
    max-width: unset;
    padding: 2em 3em;

    section {
      max-width: variables.$main-column-max-width;
    }

    .bio {
      gap: 32px;
      padding: 0;
    }

    h2 {
      font-size: 24px;
      text-align: center;
    }
  }

  @media (min-width: breakpoint.$breakpoint-sm) {
    gap: 3em;
  }

  @media (min-width: breakpoint.$breakpoint-md) {
    padding: 3em;
    gap: 5em;
    padding: 1em 0;

    .bio {
      flex-direction: row;
      gap: 64px;
      max-width: variables.$main-column-max-width-md;

      content,
      picture {
        display: flex;
        flex-direction: column;
        width: 50%;
      }

      picture {
        max-height: 540px;
      }
    }

    h2 {
      font-size: 24px;
      text-align: center;
    }
  }

  @media (min-width: breakpoint.$breakpoint-lg) {
    .bio {
      max-width: variables.$main-column-max-width-lg !important;
      h1 {
        font-size: 56px;
      }

      h2 {
        font-weight: 500;
      }
    }
  }
}

.separator {
  display: block;
  width: 100%; /* Full width of the container */
  height: 1px; /* Consistent thickness */
  margin: 2em 0; /* Ensure no default margin is added */
  @media (min-width: breakpoint.$breakpoint-sm) {
    margin: 1em 0;
  }
}

.separator.vertical {
  width: 1px;
  height: 70%; /* Take up full height of the parent */
  transform-origin: center;
  margin: 4em;
}

.reversed {
  flex-direction: column-reverse;
}

.books {
  max-height: 250px !important;

  @media (min-width: breakpoint.$breakpoint-sm) {
    max-width: 100% !important;
  }

  @media (min-width: breakpoint.$breakpoint-md) {
    max-height: 500px !important;
    max-width: 400px !important;
  }
}
