@use "../src/assets/styles/palette.scss" as palette;
@use "../src/assets/styles/typography.scss" as typography;

.snackbar-container {
  position: relative;
  overflow: hidden;
  padding-bottom: 5px;
}

.snackbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  margin-bottom: 10px;
  font-size: 16px;
  font-family: "Source Sans";
  font-weight: 600;

  // .snackbar-text {
  //   width: 100%;
  //   text-align: center;
  // }
  button {
    color: palette.$supportingColorWhite;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    mat-icon {
      margin: 0;
    }
  }
}

.progress-bar-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  overflow: hidden;
  border-radius: 10px;
}

.progress-bar {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px; // Add border-radius here too
  animation: progress linear forwards;
}

@keyframes progress {
  from {
    transform: scaleX(1);
    transform-origin: right;
  }
  to {
    transform: scaleX(0);
    transform-origin: right;
  }
}
