<form>
  <app-text-input
    [configurationObject]="emailConfigurationObject"
  ></app-text-input>

  <app-text-input
    [configurationObject]="passwordConfigurationObject"
  ></app-text-input>

  <app-text-input
    [configurationObject]="passwordConfigurationObject"
  ></app-text-input>

  <button class="login" (click)="signUp($event)">
    <span>Sign Up</span>
  </button>

  <div class="divider">
    <div class="line"></div>
    <span class="divider-text">Or sign in with</span>
    <div class="line"></div>
  </div>

  <button class="social-login" (click)="signInWithGoogle($event)">
    <logo [logoConfig]="googleButtonConfigurationObject"></logo>
    <span>Sign in with Google</span>
  </button>

  <span class="other-options"
    >Already have an account?
    <a class="sign-up" (click)="navigateTo(navigationService.Pages.SIGN_IN)"
      >Sign in</a
    ></span
  >
</form>
