<section>
  <content>
    <h1>Análise Corporal Reichiana</h1>
    <p>
      A análise corporal reichiana foi desenvolvida por Wilhelm Reich, aluno de
      Sigmund Freud, e integrou a terapia verbal à análise corporal. Wilhelm
      Reich compreendia o corpo como uma unidade psicossomática na qual tudo
      está intrinsecamente relacionado: à expressão de cada pessoa e os
      bloqueios desenvolvidos ao longo da vida.
    </p>

    <p class="quotation">
      “... As enfermidades psíquicas são o resultado de uma perturbação da
      capacidade natural de amar… A condição essencial para curar perturbações
      psíquicas é o restabelecimento da capacidade natural de amar. Depende
      tanto de condições sociais quanto de condições psíquicas”. - Wilhelm
      Reich, A função do orgasmo, 1927.
    </p>

    <p>
      O processo terapêutico reichiano é a análise da dinâmica das resistências
      inconscientes que, sobretudo, se expressa no próprio jeito de ser (chamado
      por Reich de traços de caráter) de cada pessoa. A dinâmica das
      resistências pode estar encobrindo e (re)atualizando os traumas/fixações
      que aconteceram ao longo do desenvolvimento humano.
    </p>

    <p>
      Na análise reichiana, incluem-se intervenções biofísicas, como movimentos
      voluntários repetidos, bem como a flexibilização dos bloqueios
      bio-psico-emocionais (couraças/bloqueios), que, por sua vez, (re)atualizam
      os traumas. Todavia, o foco do processo terapêutico é flexibilizar as
      couraças para que a pulsão de vida possa fluir e para que qualidades como
      conexão interpessoal, saúde física e bem-estar façam parte da expressão de
      cada indivíduo, assim como, um rio que se renova e flui em consonância com
      a natureza.
    </p>

    <p>
      A análise corporal reichiana pode ser realizada em suas modalidades: ✔
      Curta duração (10 a 12 sessões) └── Indicado para: ├── Autoconhecimento
      └── Sofrimento emocional leve Longa duração (Mínimo 12 sessões, com
      avaliação periódica) ✔ └── Indicado para: └── Sofrimento emocional
      moderado Indicado para pessoas que estejam em quadros, como: ✔ Tristeza
      Profunda e Persistente Medos Intensos e Incontroláveis Preocupação
      Excessiva e Constante Dificuldades nos Relacionamentos Lidar com Perdas
      Baixa Confiança em Si Mesmo Dificuldade em se Expressar e se Posicionar
      Comportamentos Repetitivos e Incontroláveis Marcas de Experiências
      Dolorosas Pensamentos Persistentes e Angustiantes
    </p>
  </content>
</section>
