<section>
  <content>
    <h1>Análise Corporal Reichiana</h1>
    <p>
      A análise corporal reichiana foi desenvolvida por Wilhelm Reich, aluno de
      Sigmund Freud, e integrou a terapia verbal à análise corporal. Wilhelm
      Reich compreendia o corpo como uma unidade psicossomática na qual tudo
      está intrinsecamente relacionado: à expressão de cada pessoa e os
      bloqueios desenvolvidos ao longo da vida.
    </p>

    <p class="quotation">
      “... As enfermidades psíquicas são o resultado de uma perturbação da
      capacidade natural de amar… A condição essencial para curar perturbações
      psíquicas é o restabelecimento da capacidade natural de amar. Depende
      tanto de condições sociais quanto de condições psíquicas”. - Wilhelm
      Reich, A função do orgasmo, 1927.
    </p>

    <picture class="hero-container">
      <img
        class="hero-image"
        src="assets/images/Wilhelm_Reich.jpg"
        alt="Hero"
      />
    </picture>

    <p>
      O processo terapêutico reichiano é a análise da dinâmica das resistências
      inconscientes que, sobretudo, se expressa no próprio jeito de ser (chamado
      por Reich de traços de caráter) de cada pessoa. A dinâmica das
      resistências pode estar encobrindo e (re)atualizando os traumas/fixações
      que aconteceram ao longo do desenvolvimento humano.
    </p>

    <p>
      Na análise reichiana, incluem-se intervenções biofísicas, como movimentos
      voluntários repetidos, bem como a flexibilização dos bloqueios
      bio-psico-emocionais (couraças/bloqueios), que, por sua vez, (re)atualizam
      os traumas. Todavia, o foco do processo terapêutico é flexibilizar as
      couraças para que a pulsão de vida possa fluir e para que qualidades como
      conexão interpessoal, saúde física e bem-estar façam parte da expressão de
      cada indivíduo, assim como, um rio que se renova e flui em consonância com
      a natureza.
    </p>

    <p class="destaque">Amor, trabalho e ato de criatividade</p>

    <h2>
      É praticável realizar a análise corporal reichiana em atendimentos remotos
      / online?
    </h2>

    <p>
      As intervenções biofísicas em uma análise reichiano atuam,
      primordialmente, sobre o sistema neurovegetativo. As funções deste sistema
      se manifestam diretamente no modo de ser do indivíduo — ou seja, em sua
      personalidade. O sistema neurovegetativo é responsável pelas respostas
      automáticas e involuntárias do organismo, com o objetivo principal de
      manter a homeostase corporal. Portanto, um dos métodos da análise corporal
      reichiana consiste em utilizar os movimentos espontâneos do cliente para
      acessar tensões neuromusculares que, por sua vez, são produzidas por
      bloqueios mais profundos na estrutura vegetativa.
    </p>

    <p>
      A análise corporal reichiana pode ser realizada em duas modalidades, de
      longa ou de curta duração. É especialmente indicada para pessoas que
      apresentam quadros como:
    </p>
    <ul class="list">
      <li class="centered-list-item">Tristeza Profunda e Persistente</li>
      <li class="centered-list-item">Medos Intensos e Incontroláveis</li>
      <li class="centered-list-item">Preocupação Excessiva e Constante</li>
      <li class="centered-list-item">Dificuldades nos Relacionamentos</li>
      <li class="centered-list-item">Lidar com Perdas</li>
      <li class="centered-list-item">Baixa Confiança em Si Mesmo</li>
      <li class="centered-list-item">
        Dificuldade em se Expressar e se Posicionar
      </li>
      <li class="centered-list-item">
        Comportamentos Repetitivos e Incontroláveis
      </li>
      <li class="centered-list-item">Marcas de Experiências Dolorosas</li>
      <li class="centered-list-item">
        Pensamentos Persistentes e Angustiantes
      </li>
    </ul>
  </content>

  <button
    mat-raised-button
    (click)="navigateTo(navigationService.Pages.SCHEDULING)"
  >
    <a>AGENDAR</a>
  </button>
</section>
