@use "../../../../assets/styles/breakpoints.scss" as breakpoint;
@use "../../../../assets/styles/palette.scss" as palette;

:host {
  display: flex;
  max-height: 100vh;
  width: 100%;
  overflow: hidden;
  justify-content: end;

  .content {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    color: white;
    margin-top: 8em;
    gap: 2em;
    z-index: 5;

    h1 {
      font-family: Mondo;
      font-size: 60px;
      letter-spacing: 10px;
      text-align: center;
      font-style: italic;
      margin: 0;
    }

    h2 {
      width: 100%;
      color: palette.$primaryColor;
      font-family: Mondo;
      font-size: 20px;
      line-height: 1.4;
      letter-spacing: 7px;
      font-style: italic;
      margin: 0;
      text-align: center;
      background-color: #ffffffb2;
      padding: 8px;
    }
  }

  picture {
    width: 100%; /* Set the desired container width */
    overflow: hidden; /* Ensures content doesn't overflow */
    position: relative;
    // -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.9) 100%);
    // mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 0.8) 60%);
    // -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    background-image: url(/assets/images/hero-placeholder.jpg);
    background-size: cover;
    background-position: 50% 30%;

    &:before {
      content: "";
      position: absolute;
      inset: 0;
      animation: pulse 2.5s infinite;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 50% 30%;
      // Add some extra height to allow for parallax movement
      min-height: 120%; // Adjust this value based on how much parallax you want
      will-change: transform; // Performance optimization
      opacity: 0;
    }
  }

  @media (min-width: breakpoint.$breakpoint-lg) {
    .content {
      margin-right: 10%;
      gap: 1em;
      z-index: 5;
      width: 100%;
      align-items: end;
      margin-right: 5%;
      h1 {
        font-size: 100px;
        letter-spacing: 15px;
      }

      h2 {
        font-size: 30px;
        letter-spacing: 10px;
        text-align: right;
        background-color: unset;
        padding: 0;
      }
    }
  }
}

.loaded {
  opacity: 1 !important;
  transition: opacity 200ms ease-in-out;
}

@keyframes pulse {
  0% {
    background-color: rgba(255, 255, 255, 0);
  }

  50% {
    background-color: rgba(255, 255, 255, 0.1);
  }

  100% {
    background-color: rgba(255, 255, 255, 0);
  }
}
