@use "../../../../assets/styles/palette.scss" as palette;

:host {
  display: flex;
  margin-left: auto;
}

.menu-button {
  // position: fixed;
  // top: 0;
  // right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: 80px;
  padding: 0;
  z-index: 1001;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: palette.$primaryColor;
  transition: transform 0.3s ease;
}

.menu-button:hover {
  transform: scale(1.1);
}

.menu-button span {
  display: block;
  transition: transform 0.3s ease;
}

.menu-button span.open {
  transform: rotate(90deg);
}

.fullscreen-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: palette.$primaryColor;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .menu-item {
      color: palette.$supportingColor2;
      text-decoration: none;
      font-size: 2rem;
      font-weight: 300;
      transition: transform 0.3s ease, color 0.3s ease;
    }
  }
}

.menu-item:hover {
  color: #00ff88;
  transform: scale(1.1);
}
