<button class="icon-btn" (click)="toggleMenu()" aria-label="Menu">
  <span class="material-symbols-outlined">{{ isMenuOpen ? 'close' : 'menu' }}</span>
</button>

@if (isMenuOpen) {
  <div class="fullscreen-menu open" [class.open]="isMenuVisible">
    <nav>
      <ul>
        @for(navigationItem of navigationService.navigationItems; track navigationItem.destination){
          <li>
            <a (click)="navigateTo(navigationItem.destination)" class="menu-item">
              {{ navigationItem.name }}
            </a>
          </li>
        }
      </ul>

      @if (navbarService.showAuthLinks()) {
        <mat-divider></mat-divider>

        <ul class="auth">
          <li>
            <a (click)="navigateTo(navigationService.Pages.SIGN_IN)">Sign In</a>
          </li>
        </ul>
      }

      @if (navbarService.showUserMenu()) {
        <mat-divider></mat-divider>

        <ul>
          <li>
            <a (click)="navigateTo(navigationService.Pages.DASHBOARD)" class="menu-item">
              Conta
            </a>
          </li>

          <li>
            <a (click)="logOut()" class="menu-item">
              Terminar Sessão
            </a>
          </li>
        </ul>
      }
    </nav>
  </div>
}
