@use "../../../../assets/styles/palette.scss" as palette;

:host {
  display: flex;
  margin-left: auto;
}

.menu-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: 80px;
  padding: 0;
  z-index: 1001;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: palette.$primaryColorBlue;
  transition: transform 0.3s ease;
}

.fullscreen-menu {
  position: fixed;
  inset: 0;
  background: #0a4c6e;

  opacity: 0;
  transform: translateY(-8%);
  pointer-events: none;

  transition:
    opacity 0.35s cubic-bezier(0.4, 0, 0.2, 1),
    transform 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}

/* open state */
.fullscreen-menu.open {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.fullscreen-menu nav {
  transform: translateY(10px);
  opacity: 0;
  transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}

.fullscreen-menu.open nav {
  transform: translateY(0);
  opacity: 1;
  transition-delay: 0.1s;
}

//

.menu-button:hover {
  transform: scale(1.1);
}

// .menu-button span {
//   display: block;
//   transition: transform 0.3s ease;
// }

.menu-button span.open {
  transform: rotate(90deg);
}

.fullscreen-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: palette.$primaryColorBlue;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .menu-item {
      color: palette.$supportingColorWhite;
      text-decoration: none;
      font-size: 2rem;
      font-weight: 400;
      transition:
        transform 0.3s ease,
        color 0.3s ease;

      -webkit-user-select: none; /* Safari */
      -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* IE10+/Edge */
      user-select: none; /* Standard */
    }
  }
}

.menu-item:hover {
  color: #00ff88;
  transform: scale(1.1);
}

mat-divider {
  width: 100%;
  margin: 1.5em 0 !important;
  border-top-width: 2px;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.menu-button svg .line {
  stroke: #0a4c6e;

  transition:
    transform 0.35s cubic-bezier(0.4, 0, 0.2, 1),
    opacity 0.2s ease,
    stroke 0.2s ease;

  /* critical for proper rotation */
  transform-box: fill-box;
  transform-origin: center;
}

/* Change color when menu is open */
.menu-button svg.fullscreenMenuOpen .line {
  stroke: white;
}

/* Middle disappears */
.menu-button svg.fullscreenMenuOpen .line-middle {
  opacity: 0;
}

/* Top line -> diagonal */
.menu-button svg.fullscreenMenuOpen .line-top {
  transform: translateY(9px) rotate(45deg);
}

/* Bottom line -> diagonal */
.menu-button svg.fullscreenMenuOpen .line-bottom {
  transform: translateY(-9px) rotate(-45deg);
}
