<!-- @if (sessionService.user()?.picture ?? "") {} -->

<ng-container
  *ngIf="sessionService.user()?.picture as picture; else defaultIcon"
>
  <img
    class="therapist-card--picture"
    mat-card-sm-image
    [src]="picture"
    alt="Therapist picture"
    referrerpolicy="no-referrer"
  />
</ng-container>

<ng-template #defaultIcon>
  <mat-icon class="therapist-card--picture therapist-card--icon">
    account_circle
  </mat-icon>
</ng-template>

<app-text-input
  [configurationObject]="nameConfigurationObject"
></app-text-input>

<app-text-input
  [configurationObject]="emailConfigurationObject"
></app-text-input>

<app-text-input
  [configurationObject]="birthDateConfigurationObject"
></app-text-input>

<app-text-input
  [configurationObject]="genderConfigurationObject"
></app-text-input>

<!-- <app-text-input [configurationObject]="bioConfigurationObject"></app-text-input> -->
