<app-hero class="hero-section"></app-hero>

<section class="introduction">
    <content class="care-introduction">

        <p appScrollAnimate="fade-in-up">
            A <strong>Clínica Ampliada Ressignificações (CARE)</strong> adota os quatro pilares — Cuidado Centrado na
            Pessoa, Abordagem
            Integral, Trabalho Transdisciplinar e Modelo Biopsicossocial — como valores fundamentais, orientando a
            <strong>ressignificação das perspectivas e práticas de cuidado em saúde mental, relacional, física e
                social</strong>. Em
            concomitância desafia modelos tradicionais que ignoram a integralidade do ser humano e reduzem a saúde à
            mera ausência de doença.

        </p>

        <p appScrollAnimate="fade-in-up">
            A <strong>CARE</strong> tem como missão impulsionar e garantir a acessibilidade a cuidados de saúde mental,
            relacional,
            física e social, que são essenciais para o bem-viver.
        </p>

        <p class="quotation quotation-margins" appScrollAnimate="fade-in-up">
            “A saúde é um estado de completo bem-estar físico, mental e social e não
            somente ausência de afecções e enfermidades” - Organização Mundial da
            Saúde, 1946.
        </p>

    </content>
</section>


<app-marquee-track></app-marquee-track>

<section class="services">
    <app-services-list></app-services-list>
</section>

<section class="faq">

    <h2>Ficou com alguma dúvida?</h2>

    <app-faq></app-faq>
</section>
