@use "../../../../assets/styles/palette.scss" as palette;

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;

    ul {
      display: flex;
      gap: 1em;
      padding: 0;

      li {
        font-family: Inter;
        font-weight: 700;
        color: palette.$primaryColor;
        cursor: pointer;
      }
    }
  }
}

.footer-text {
  color: #959cb6;
}
