@use "../../../../assets/styles/palette.scss" as palette;
@use "../src/assets/styles/typography.scss" as typography;

:host {
  display: flex;
  justify-content: center;
  align-items: center;

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;

    ul {
      display: flex;
      gap: 1em;
      padding: 0;

      li {
        font-family: Inter;
        font-weight: 700;
        color: palette.$primaryColorBlue;
        cursor: pointer;
      }
    }
  }
}

.footer-text {
  font-family: typography.$inter;
  color: palette.$primaryColorBlue;
}
