:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // background-color: palette.$supportingColor2;
  background-color: #f0f0f0;
  width: 100%;
  align-items: center;
  margin-bottom: 8em;
}
