@use "../../../../assets/styles/palette.scss" as palette;
@use "../src/assets/styles/breakpoints.scss" as breakpoint;
@use "../src/assets/styles/variables.scss" as variables;

:host {
  //   padding-top: 80px;
  display: flex;
  flex-direction: column;
  background-color: palette.$supportingColor2;
  width: 100%;
  align-items: center;
  padding: 1.5em;
  gap: 1em;
  // margin: 2em 0;

  section {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1em 0;
    max-width: 1140px;
    gap: 1.5em;

    content {
      text-align: center;
      gap: 1.5em;
    }

    picture {
      width: 100%; /* Set the desired container width */
      max-width: 400px;
      overflow: hidden; /* Ensures content doesn't overflow */
      position: relative;
      margin: 0;
      height: auto;
      border-radius: 10px;
      max-height: 500px;

      img {
        width: 100%;
        height: auto;
        // min-height: 400px;
        object-fit: cover;
        object-position: 50% 20%;
      }
    }

    .lists {
      display: flex;
      flex-direction: column;
      max-width: variables.$main-column-max-width;

      ul {
        display: flex;
        flex-direction: column;
        margin: 0 !important;
        gap: 1em;

        @media (min-width: breakpoint.$breakpoint-md) {
          margin: 1.5em;
        }
      }
    }
    @media (min-width: breakpoint.$breakpoint-md) {
    }
  }

  h2 {
    font-family: Inter;
    font-weight: 200;
    font-size: 18px;
    letter-spacing: 1.1px;
    font-style: italic;
  }

  @media (min-width: breakpoint.$breakpoint-sm) {
    max-width: unset;
    padding: 2em 3em 0 3em;
    .bio {
      gap: 32px;
      padding: 0;
      // height: fit-content;
    }

    h2 {
      font-size: 24px;
      text-align: center;
    }
  }

  @media (min-width: breakpoint.$breakpoint-md) {
    padding: 3em;
    gap: 7em;
    padding: 1em 0;

    .bio {
      flex-direction: row;
      gap: 64px;

      content,
      picture {
        display: flex;
        flex-direction: column;
        width: 50%;
      }

      picture {
        max-height: 540px;
      }
    }

    h2 {
      font-size: 24px;
      text-align: center;
    }
  }
}

.separator {
  display: block;
  width: 100%; /* Full width of the container */
  height: 1px; /* Consistent thickness */
  margin: 2em 0; /* Ensure no default margin is added */
  @media (min-width: breakpoint.$breakpoint-sm) {
    margin: 1em 0;
  }
}

.separator.vertical {
  width: 1px;
  height: 70%; /* Take up full height of the parent */
  transform-origin: center;
  margin: 4em;
}

.reversed {
  flex-direction: column-reverse;
}

.books {
  max-height: 250px !important;
  max-width: 100% !important;
  img {
    width: 100% !important;
  }

  @media (min-width: breakpoint.$breakpoint-md) {
    max-height: 600px !important;
    max-width: 50% !important;

    img {
      width: initial;
    }
  }
}
