@use "../../../../assets/styles/palette.scss" as palette;
@use "../src/assets/styles/breakpoints.scss" as breakpoint;

:host {
  //   padding-top: 80px;
  display: flex;
  flex-direction: column;
  background-color: palette.$supportingColor2;
  width: 100%;
  max-width: 800px;
  align-items: center;

  padding: 0 1.5em;
  // margin: 2em 0;

  .bio {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    max-width: 1200px;
    padding: 7em 0;
    .info {
      display: flex;
      flex-direction: column;
      max-width: 480px;
    }
  }

  .description {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 1em 0;
    max-width: 1024px;
  }

  h2 {
    font-family: Inter;
    font-weight: 200;
    font-size: 18px;
    letter-spacing: 1.1px;
    font-style: italic;
  }

  @media (min-width: breakpoint.$breakpoint-sm) {
    max-width: unset;
    padding: 2em 3em 0 3em;
    .bio {
      gap: 32px;
      padding: 0;
      height: fit-content;
    }

    h2 {
      font-size: 24px;
      text-align: center;
    }
  }

  @media (min-width: breakpoint.$breakpoint-md) {
    max-width: unset;
    padding-top: 3em;

    .bio {
      gap: 64px;
    }

    h2 {
      font-size: 24px;
      text-align: center;
    }
  }
}

picture {
  width: 100%; /* Set the desired container width */
  overflow: hidden; /* Ensures content doesn't overflow */
  position: relative;
  margin: 0;
  height: auto;
  img {
    width: 100%;
    height: auto;
    // min-height: 400px;
    object-fit: cover;
    object-position: 50% 20%;
  }

  @media (min-width: breakpoint.$breakpoint-sm) {
    margin: 1.5em 0;
    max-width: 40%;
  }
}

.separator {
  display: block;
  width: 100%; /* Full width of the container */
  height: 1px; /* Consistent thickness */
  margin: 2em 0; /* Ensure no default margin is added */
  @media (min-width: breakpoint.$breakpoint-sm) {
    margin: 1em 0;
  }
}

.separator.vertical {
  width: 1px;
  height: 70%; /* Take up full height of the parent */
  transform-origin: center;
  margin: 4em;
}
