<section class="bio" appScrollAnimate="fade-in-up">
  <content>
    <h1>Luane Bastos</h1>

    <h2>Pioneirismo na formação: Integralidade e Ética na prática em saúde</h2>

    <p>
      Luane S. Bastos formou-se em uma universidade pioneira no Brasil,
      reconhecida por adotar um projeto político-pedagógico inovador, que
      valorizava o trabalho em equipe interprofissional e a integralidade no
      cuidado em saúde. Sua formação integrou dimensões éticas, políticas,
      técnico-científicas e humanas, bases que orientam sua prática clínica e
      profissional até hoje.
    </p>
  </content>
  <picture class="picture">
    <img [src]="bio.image" [alt]="'Foto de ' + bio.name" />
  </picture>
</section>

<section class="bio reversed" appScrollAnimate="fade-in-right">
  <picture class="picture books">
    <img src="assets/images/books1.jpg" alt="Imagem de livros." />
  </picture>

  <content>
    <h2>Do corpo organicamente sensível à Clínica Intercultural</h2>
    <p>
      A perspectiva de Luane S. Bastos sobre a complexidade do corpo humano teve
      suas raízes na infância, despertada pelo amor inato à dança. Contudo, foi
      durante sua formação universitária que essa compreensão se aprofundou, ao
      se deparar com o trabalho seminal de Wilhelm Reich e, em particular, com
      as abordagens terapêuticas que transcendem a linguagem verbal. Inspirada
      pelos princípios reichianos, Luane trilhou uma jornada profissional
      multifacetada.
    </p>
    <p>
      Dedicou-se a formações contínuas, ao atendimento clínico individual, à
      condução de workshops e supervisões, e ao desenvolvimento de grupos de
      movimento, atuando tanto na Prefeitura do Rio de Janeiro quanto no
      interior de São Paulo.
    </p>
    <p>
      Adicionalmente, seu próprio processo migratório para a Europa
      impulsionou-a a aprofundar estudos na clínica intercultural, expandindo
      seu atendimento a migrantes em diversas partes do mundo.
    </p>
  </content>
</section>

<section>
  <content class="lists" appScrollAnimate="fade-in-up">
    <div class="academic">
      <h2>Formação Acadêmica e Especializações</h2>
      <ul>
        <title>Formação Acadêmica e Especializações</title>
        <li>
          2013: Graduação em Psicologia pela Universidade Federal de São Paulo
          (UNIFESP).
        </li>
        <li>
          2016: Pós-graduação (Residência Multiprofissional) pela Universidade
          Federal do Rio de Janeiro (UFRJ)
        </li>
        <li>
          2017: Estudos em Psicoterapia Reichiana no Instituto de Formação e
          Pesquisa Wilhelm Reich (IFP), Rio de Janeiro.
        </li>
        <li>
          2020: Pós-graduação em Sociologia e Estudos sobre as Mulheres pela
          Universidade Nova de Lisboa (NOVA), Portugal.
        </li>
        <li>
          2021: Estudos em Psicoterapia Reichiana no Centro Português de Estudos
          Reichianos (CPER), Lisboa.
        </li>
        <li>
          Atualmente: Em formação em Trauma, utilizando o método Somatic
          Experiencing de Peter Levine, pela Associação Brasileira de Trauma
          (ABT).
        </li>
      </ul>
    </div>

    <div class="academic">
      <h2>Experiência Profissional e Contribuições</h2>
      <ul>
        <title>Experiência Profissional e Contribuições</title>
        <li>
          Atuação no Sistema Único de Saúde (SUS): Experiência em serviços
          públicos de saúde no Brasil.
        </li>
        <li>
          Centro de Cidadania para Mulheres: Trabalho desenvolvido em apoio e
          empoderamento de pessoas que se identificam como mulheres.
        </li>
        <li>Clínica Privada e Social: Atendimento individual e em grupo.</li>
        <li>
          Projetos Coletivos em Portugal: Foco em iniciativas voltadas para a
          migração.
        </li>
        <li>
          Produção Acadêmica: Autoria de dois capítulos em livros
          especializados.
        </li>
      </ul>
    </div>
  </content>
</section>
