.availability-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.availability-headers-align .mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
}

.availability-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
