@use "../src/assets/styles/variables.scss" as variables;

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  max-width: variables.$main-column-max-width;
  margin: 0 auto;
  padding: 24px;
}

.therapist-section {
  display: flex;
  flex-direction: column;

  .therapist-selection {
    width: 100%;
  }

  .therapist-card {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    .therapist-card--header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .title-group {
        // margin-bottom: 16px;
        .title {
          color: #005a89;
        }
        .subtitle {
          font-weight: 300;
          color: #005a89;
        }
      }
    }

    .therapist-card--picture {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      border: 2px solid #ddd;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
      margin: 8px 0;

      &:not(.therapist-card--icon) {
        object-fit: cover; /* only for images */
      }
    }

    .therapist-card--icon {
      font-size: 120px; /* match the container size */
      color: #bbb; /* light gray color for the icon */
      border: none; /* remove border for icon */
      box-shadow: none; /* remove shadow for icon */
    }

    .therapist-card--content-area {
      .text {
        p {
          font-size: 16px;
          margin: 16px 0;
        }
      }
    }
  }
}

.text-area {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.lu {
  object-position: 50% 20%;
}

.submit--button {
  width: 100%;
}
