<div class="therapist-section">
  @if (schedulingService.services.length) {
    <mat-form-field class="therapist-selection">
      <mat-label>Escolha um serviço</mat-label>
      <mat-select
        [formControl]="
          schedulingService.schedulingForm.controls[
            SchedulingFormControls.SELECTED_SERVICE
          ]
        "
      >
        <mat-option [value]="null">--</mat-option>

        <mat-option
          *ngFor="let service of schedulingService.services"
          [value]="service"
        >
          {{ service.name | enumValue: ProfessionalSessionService }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  }

  @if (schedulingService.professionals.length) {
    <mat-form-field class="therapist-selection">
      <mat-label>Escolha um profissional</mat-label>

      <mat-select
        [formControl]="
          schedulingService.schedulingForm.controls[
            SchedulingFormControls.SELECTED_PROFESSIONAL
          ]
        "
        [compareWith]="compareProfessionals"
      >
        <mat-option [value]="null">--</mat-option>

        <mat-option
          *ngFor="
            let therapist of schedulingService.professionals;
            trackBy: trackByName
          "
          [value]="therapist"
        >
          {{ therapist.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    @if (selectedProfessional) {
      <mat-card class="therapist-card" appearance="outlined">
        <mat-card-header class="therapist-card--header">
          <mat-card-title-group class="title-group">
            <mat-card-title class="title">{{
              selectedProfessional.name
            }}</mat-card-title>
            <!-- <mat-card-subtitle class="subtitle">{{
              schedulingService.schedulingForm.controls[
                SchedulingFormControls.SELECTED_PROFESSIONAL
              ].value?.title
            }}</mat-card-subtitle> -->
          </mat-card-title-group>
          <ng-container
            *ngIf="getProfessionalPicture() as picture; else defaultIcon"
          >
            <img
              class="therapist-card--picture"
              mat-card-sm-image
              [src]="picture"
              alt="Therapist picture"
            />
          </ng-container>

          <ng-template #defaultIcon>
            <mat-icon class="therapist-card--picture therapist-card--icon">
              account_circle
            </mat-icon>
          </ng-template>
        </mat-card-header>
        <mat-card-content class="therapist-card--content-area"
          ><div class="text">
            <p>
              {{ selectedProfessional.bio }}
            </p>
          </div>
        </mat-card-content>
      </mat-card>
      @if (
        schedulingService.schedulingForm.controls[
          SchedulingFormControls.SELECTED_PROFESSIONAL
        ].value
      ) {
        <app-calendar
          *ngIf="schedulingService.availability().length"
          [availability]="schedulingService.availability()"
          [calendarConfiguration]="calendarConfigurationObject"
        ></app-calendar>
      }
      @if (schedulingService.availability().length) {
        <app-availabilities
          [availabilityConfiguration]="
            schedulingService.availabilityConfiguration()
          "
          [attr.data-key]="renderKey"
          (isSubmitted)="bookAppointment($event)"
        ></app-availabilities>
      }
    }
  }
  @if (!loader.isHttpLoading() && !schedulingService.professionals.length) {
    <!-- <h1>Serviço temporariamente fora do ar.</h1> -->
  }
</div>
