<div class="therapist-section">
  <mat-form-field *ngIf="therapists.length" class="therapist-selection">
    <mat-label>Choose a therapist</mat-label>
    <mat-select [formControl]="therapistControl" required>
      <mat-option (click)="selectTherapist(null)" value="">--</mat-option>
      <ng-container *ngFor="let therapist of therapists; trackBy: trackById">
        <mat-option
          (click)="selectTherapist(therapist)"
          [value]="therapist.id"
          >{{ therapist.name }}</mat-option
        >
      </ng-container>
    </mat-select>
    <mat-error *ngIf="therapistControl.hasError('required')">
      Please choose a therapist.
    </mat-error>
  </mat-form-field>

  @if (schedulingService.schedulingForm.get(SchedulingFormControls.SELECTED_THERAPIST)?.value){
    <mat-card class="therapist-card" appearance="outlined">
      <mat-card-header class="therapist-card--header">
        <mat-card-title-group class="title-group">
          <mat-card-title class="title">{{
            schedulingService.schedulingForm.get(SchedulingFormControls.SELECTED_THERAPIST)?.value
              .name
          }}</mat-card-title>
          <mat-card-subtitle class="subtitle">{{
            schedulingService.schedulingForm.get(SchedulingFormControls.SELECTED_THERAPIST)?.value
              .title
          }}</mat-card-subtitle>
        </mat-card-title-group>
        <img
          class="therapist-card--picture"
          mat-card-sm-image
          src="{{
            'assets/images/' +
              schedulingService.schedulingForm.get(SchedulingFormControls.SELECTED_THERAPIST)?.value
                .picture
          }}"
          alt="Therapist picture"
        />
      </mat-card-header>
      <mat-card-content class="therapist-card--content-area"
        ><div class="text">
          <p>
            {{
              schedulingService.schedulingForm.get(SchedulingFormControls.SELECTED_THERAPIST)?.value
                .bio
            }}
          </p>
        </div>
      </mat-card-content>
    </mat-card>
}

</div>
@if (schedulingService.schedulingForm.get(SchedulingFormControls.SELECTED_THERAPIST)?.value){
  <app-calendar *ngIf="availability.length" [availability]="availability" [calendarConfiguration]="calendarConfigurationObject"></app-calendar>
}


@if (schedulingService.schedulingForm.get(SchedulingFormControls.SELECTED_THERAPIST)?.value && schedulingService.schedulingForm.get(SchedulingFormControls.SELECTED_DAY)?.value) {
    <app-availabilities [availabilityConfiguration]="availabilityConfigurationObject" (isSubmitted)="submit($event)"></app-availabilities>
} 