@use "../src/assets/styles/breakpoints.scss" as breakpoint;
@use "../src/assets/styles/variables.scss" as variables;
@use "../src/assets/styles/palette.scss" as palette;
@use "../src/assets/styles/typography.scss" as typography;

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body,
main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: palette.$supportingColorWhite;
  margin: 0;
}

ul,
li {
  display: flex;
  list-style: none;
  font-family: typography.$sourceSans;
  color: palette.$primaryColorBlue;
  font-size: 18px;
  font-weight: 500;
  font-style: italic;
  justify-content: center;
  margin: 0;
  padding: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

picture {
  img {
    margin: auto;
  }
}

h1 {
  font-family: typography.$sourceSans;
  color: palette.$primaryColorBlue;
  font-size: 36px;
  letter-spacing: 1px;
  font-weight: 700;
  line-height: 1.2;
  // margin: 20px 0 0.2em 0;
  margin: 0;
  @media (min-width: breakpoint.$breakpoint-md) {
    font-size: 48px;
  }

  @media (min-width: breakpoint.$breakpoint-lg) {
    font-size: 56px;
  }
}

h2 {
  font-family: typography.$sourceSans;
  color: palette.$primaryColorBlue;
  font-weight: 700;
  font-size: 24px;
  margin: 0;

  @media (min-width: breakpoint.$breakpoint-md) {
    font-size: 32px;
  }
}

h3 {
  font-family: typography.$sourceSans;
  color: palette.$primaryColorBlue;
  font-weight: 700;
  font-size: 18px;
  margin: 0;
  @media (min-width: breakpoint.$breakpoint-md) {
    font-size: 24px;
  }
}

p {
  font-family: typography.$sourceSans;
  color: palette.$primaryColorBlue;
  font-size: 17px;
  font-weight: 400;
  line-height: 28px;
  text-align: justify;
  margin: 0;

  @media (min-width: breakpoint.$breakpoint-lg) {
    font-size: 21px;
  }
}

a,
a:visited,
a:active,
a:visited,
a:link {
  color: palette.$primaryColorBlue;
  font-family: typography.$sourceSans;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.2;
  cursor: pointer;
  text-decoration: none;
}

span {
  font-family: typography.$sourceSans;
}

section {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: variables.$main-column-max-width-md;
  align-items: center;
  padding: 0 variables.$mobile-lateral-padding;

  @media (min-width: breakpoint.$breakpoint-lg) {
    width: 100%;
    max-width: variables.$main-column-max-width-lg;
  }

  content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1.5em;

    .quotation {
      text-align: center;
      font-weight: 500;
      font-style: italic;
      margin: 1.5em;

      @media (min-width: breakpoint.$breakpoint-md) {
        line-height: 1.2;
        font-size: 32px;
        word-spacing: 1.2px;
      }
    }

    .quotation + .quotation {
      margin-top: 0;
    }
  }
}

.picture {
  width: 100%;
  max-width: 400px;
  overflow: hidden;
  position: relative;
  margin: 0;
  height: auto;
  border-radius: 10px;
  max-height: 500px;

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: 50% 20%;
  }
}

.invert {
  transform: rotate(180deg);
}

// For scroll animate
.before-show {
  opacity: 0;
}

/* specific directions */
.before-show-up {
  transform: translateY(40px);
}

.before-show-left {
  transform: translateX(-40px);
}

.before-show-right {
  transform: translateX(40px);
}

/* visible states */
.fade-in-up {
  opacity: 1;
  transform: translateY(0);
  transition:
    opacity 1.4s ease,
    transform 1.4s ease;
}

.fade-in-left {
  opacity: 1;
  transform: translateX(0);
  transition:
    opacity 0.6s ease,
    transform 0.6s ease;
}

.fade-in-right {
  opacity: 1;
  transform: translateX(0);
  transition:
    opacity 0.6s ease,
    transform 0.6s ease;
}

// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.cfg-input-group {
  @media (max-width: breakpoint.$breakpoint-md) {
    width: 100%;
    max-width: 480px;
  }

  &.sm {
    width: 388px;

    @media (max-width: breakpoint.$breakpoint-md) {
      width: 100%;
    }
  }

  &.md2 {
    width: 503px;
    @media (max-width: breakpoint.$breakpoint-md) {
      width: 100%;
    }
  }

  &.lg {
    width: 580px;

    @media (max-width: breakpoint.$breakpoint-md) {
      width: 100%;
    }
  }
}

.phone-input-area {
  display: flex;
  gap: 6px;
  @media (min-width: breakpoint.$breakpoint-md) {
    width: 100%;
    gap: 7px;
  }
}

.country-selection {
  flex: 1;
}

.cfg-input-label {
  // font-family: $font-family-base;
  // color: $--color-default-black;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  display: inline-block;
  margin-right: 10px;
}

.phone-number {
  width: 100%;
  margin-left: 4px;
}

.input-container {
  display: flex;
  position: relative;
  align-items: center;
}

.label {
  // font-family: $font-family-base;
  // color: $--color-default-black;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 9px;
  display: inline-block;
}

.prefix {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  z-index: 10;
}

.phone-input {
  width: 100%;
}

:root {
  --panel-width: 100%;
}

.cdk-overlay-pane:has(.full-width-panel) {
  width: var(--panel-width) !important;
  max-width: var(--panel-width) !important;
}

.full-width-panel.mat-mdc-select-panel {
  width: 100% !important;
  max-width: none !important;
  min-width: 0 !important;
}

.dashboard-header {
  height: 62px;
}

.fullscreenMenuOpen {
  color: white;
}

mat-divider {
  margin: 8px 0 16px 0 !important;
}

mat-progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2000;
}


// Target the flex container wrapper
.cdk-global-overlay-wrapper {
  pointer-events: none !important;
  
  // Add top padding to push snackbar down
  &:has(.custom-snackbar) {
    padding-top: 65px !important;
  }
}

// Re-enable pointer events on the actual snackbar
.mat-mdc-snack-bar-container {
  pointer-events: auto !important;
  margin: 0 1.5em !important;
  
  
  &.custom-snackbar {
    .mdc-snackbar__surface {
      padding: 15px !important;
      background-color: palette.$primaryColorBlue !important;
      color: white;
    }
    
    .mat-mdc-snack-bar-label {
      padding: 0 !important;
    }
  }
}