@use "../src/assets/styles/breakpoints.scss" as breakpoint;
@use "../src/assets/styles/palette.scss" as palette;

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}
body,
main {
  display: flex;
  flex-direction: column;
  // align-items: center;
  // background-color: palette.$supportingColor2;
  background-color: #f0f0f0;
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

h1 {
  color: palette.$primaryColor;
  font-family: Inter;
  font-size: 36px;
  letter-spacing: 1px;
  font-weight: 700;
  line-height: 1.2;
  // margin: 20px 0 0.2em 0;
  margin: 0;
  @media (min-width: breakpoint.$breakpoint-lg) {
    // font-size: 42px;
    font-size: 60px;
  }
}

h2 {
  font-family: Acumin;
  color: palette.$primaryColor;
  font-weight: 700;
  font-size: 24px;
  margin: 0;
}

p {
  color: palette.$primaryColor;
  font-family: Inter;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.2;
  text-align: justify;
  margin: 0;

  @media (min-width: breakpoint.$breakpoint-sm) {
    font-size: 18px;
    letter-spacing: 1.1px;
  }

  @media (min-width: breakpoint.$breakpoint-md) {
    // font-size: 18px;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 1.3px;
  }
}

a,
a:visited,
a:active,
a:visited,
a:link {
  color: palette.$primaryColor;
  font-family: Inter;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2;
  cursor: pointer;
  text-decoration: none;
}

@font-face {
  font-family: "SegoeUI";
  src: url("/assets/font/SegoeUI.ttf") format("truetype");
  font-weight: 400; /* Normal weight */
  font-style: normal; /* Regular style */
}

@font-face {
  font-family: "SegoeUI";
  src: url("/assets/font/SegoeUIBold.ttf") format("truetype");
  font-weight: 700; /* Normal weight */
  font-style: normal; /* Regular style */
}

@font-face {
  font-family: "SegoeUI";
  src: url("/assets/font/SegoeUIItalic.ttf") format("truetype");
  font-weight: 400; /* Normal weight */
  font-style: italic; /* Regular style */
}

@font-face {
  font-family: "SegoeUI";
  src: url("/assets/font/SegoeUIBoldItalic.ttf") format("truetype");
  font-weight: 700; /* Normal weight */
  font-style: italic; /* Regular style */
}

@font-face {
  font-family: "Inter";
  src: url("/assets/font/Inter_18pt-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/font/Inter_18pt-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/font/Inter_18pt-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/font/Inter_18pt-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/font/Inter_18pt-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/font/Inter_18pt-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/font/Inter_18pt-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/font/Inter_18pt-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/font/Inter_18pt-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/font/Inter_18pt-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/font/Inter_18pt-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/font/Inter_18pt-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/font/Inter_18pt-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/font/Inter_18pt-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/font/Inter_18pt-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/font/Inter_18pt-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/font/Inter_18pt-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/font/Inter_18pt-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Anastasia";
  src: url("/assets/font/Anastasia.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Apercu";
  src: url("/assets/font/Apercu Bold.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Acumin";
  src: url("/assets/font/Acumin-RPro.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Acumin";
  src: url("/assets/font/Acumin-BdPro.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Acumin";
  src: url("/assets/font/Acumin-ItPro.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Acumin";
  src: url("/assets/font/Acumin-BdItPro.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}

// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
