@use "../../../../assets/styles/breakpoints.scss" as breakpoint;
@use "../../../../assets/styles/palette.scss" as palette;
@use "../src/assets/styles/variables.scss" as variables;

:host {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    gap: 2em;
    overflow-x: hidden;
    justify-content: space-between;

    @media (min-width: breakpoint.$breakpoint-sm) {
        flex-direction: row;
    }

    .topics {
        flex: 1 ;
        flex-direction: column;
        min-width: 0;
        max-width: 400px;
        transition: flex-basis 400ms ease, flex-grow 400ms ease;
        border-radius: 15px;
        color: white;
        background: palette.$secondaryColorPurple;

      .option {
        height: auto !important;
      }
    }

    .topic-items {
        flex: 1;
        width: 100%;
        overflow: hidden;
        flex-direction: column;
        transition: flex-basis 400ms ease;
        background: palette.$secondaryColorPurple;
        border-radius: 15px;
    }

    .service {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: start;
        max-width: variables.$main-column-max-width-md;
        padding: 1em variables.$mobile-lateral-padding;
        gap: 1em;

        ul {
            width: 100%;
            flex-direction: column;
            gap: 8px;

            .service-type {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 4px;

                .service-name {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    cursor: pointer;
                    padding-left: 8px;
                    border-radius: 10px;
                    transition: outline 0.11s;

                    &:hover {
                        outline: 2px solid palette.$primaryColorPurple;
                    }
                }

                .service-content {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    padding: 0 8px;
                    overflow: hidden;

                    .service-description {
                        font-size: 16px;
                        line-height: 30px;
                        letter-spacing: normal;
                    }

                    .service-actions {
                        display: flex;
                        width: 100%;
                        justify-content: right;
                        padding: 8px 0;
                        gap: 16px;
                    }
                }
            }
        }

        h2,
        h3,
        p,
        svg {
            color: palette.$supportingColorWhite;
            fill: palette.$supportingColorWhite;
        }
    }

    @media (min-width: breakpoint.$breakpoint-lg) {
        .topics{
          max-width: 400px;
        }

        .services {
            .service {
                max-width: variables.$main-column-max-width-md;
            }
        }
    }
}

.expand-icon {
    cursor: pointer;
    height: 40px;
    transform-origin: center;
    transition: transform 0.3s ease;
}
