//Palette

// Primary Colors (Blue and Purple)
$primaryColorBlue: #22326e; // Deep Blue
$primaryColorPurple: #8E7FAE; // Light Purple

// Secondary Colors (Complementary & Supporting)
$secondaryColorPurple: #42458E; // Blue (lighther than primary blue)
$secondaryColorCyan: #77C5D5; // Cyan
$secondaryColorGreen: #56B093; // Green
$secondaryColorPink: #CCAED0; // Pink

// Supporting Colors (Neutral & Light)
$supportingColorBlack: #212322; // Black
$supportingColorWhite: #ffffff; // White
