@use "../../../../assets/styles/breakpoints.scss" as breakpoint;
@use "../../../../assets/styles/palette.scss" as palette;

:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // background-color: palette.$supportingColor2;
  background-color: #f0f0f0;
  width: 100%;
  align-items: center;
  margin-bottom: 8em;

  .introduction {
    margin: 3em 0;
  }

  .services {
    background: #c7ebff;
  }

  @media (min-width: breakpoint.$breakpoint-md) {
    width: 100%;
    // max-width: 800px;

    .introduction {
      margin: 6em 0;
    }

    content {
      width: 100%;
      // max-width: 1000px;
    }
  }
}

.pillar-title {
  text-align: center;
}

svg {
  cursor: pointer;
  height: 40px;
  color: palette.$primaryColor;
}
